<body>
    <div class="box">
        <form>
            <h2>Log in</h2>
            <div class="inputBox">
                <input type="text" required="required" />
                <span>Nombre de usuario</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" />
                <span>Contrasenna</span>
                <i></i>
            </div>
            <div class="link">
                <a href="#">Olvidar Pasword</a>
                <a href="#">Registrar</a>
            </div>
            <input type="submit" value="Login" />
        </form>
    </div>
</body>