@if (Show)
{
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" @onclick="OnConfigDialog" style="background-image: url('@PictLink');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 card-desc">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">@ProductName</h2>
                <p>@ProductDescription</p>
                <ul class="d-flex list-unstyled mt-auto">
                    @ChildContent
                </ul>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string PictLink { get; set; } = null!;
    [Parameter]
    public string ProductName { get; set; } = null!;
    [Parameter]
    public string ProductDescription { get; set; } = null!;
    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter] public EventCallback OnConfigDialog { get; set; }
}
